<% users.each do |user| %>
    <div class="modal fade" id='<%= user.steam_username %>' tabindex="-20" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="profile-background"></div>
          <div class="profile-container">
            <div class="profile-avatar">
              <div class="profile-image">
                <h1><%= user.steam_username.upcase %></h1>
                </div>
                  <img class="profile-picture" src="<%= user.steam_image %>" alt="User Image">
                </div>
                <div class="profile-info">
                    <h4>Rank: <%= user.rank %></h4>
                </div>
                <div class="user-card-container">
                  <div class="user-card">
                    <div class="card-body">
                      <h5 class="user-card-title">Leagues 👾</h5>
                      <p class="user-card-text"><%= user.user_leagues.count %></p>
                    </div>
                  </div>
                  <div class="user-card">
                    <div class="card-body">
                      <h5 class="user-card-title">Favorite Game 🎮</h5>
                      <p class="user-card-text"><%#= @league.game.name %> CS GO</p>
                    </div>
                  </div>
                  <div class="user-card">
                    <div class="user-card-challenges">
                      <h5 class="user-card-title">Challenges completed 🎯</h5>
                      <p class="user-card-text"><%= user.completed_challenges_count %></p>
                    </div>
                  </div>
                  <div class="user-card">
                    <div class="user-card-body">
                      <h5 class="user-card-title">Member since ⏲</h5>
                      <p class="user-card-text"><%= user.created_at.strftime("%B %Y") %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          </div>
        </div>
      </div>
    </div>
  <% end %>
