<div class="container">
    <h1>Acces your Leagues here</h1>
   <ul> 
   <% @leagues.each do |league| %>
      <li><%= league.name %></li>
      <li><%= league.start_on %></li>
      <li><%= league.end_on %></li>
      <li><%= league.description %></li>
      <li><%= league.game.name %></li>
    <% end %>
    </ul>
</div>