<div class="leagues-background"></div>
<div class="leagues-container">
    <h1>MY LEAGUES</h1>
  <div class ="card-wrapper">
        <% @leagues.each do |league| %>
          <%= link_to league_path(league) do %> <%# Tried to add a link_to for all images without success %>
            <div class="league-card <%=league.game.name%>-img">
              <p class="league-game"></p>
              <p class="league-name"><%= league.name %></p>
              <div class='avatar-user'>
                <% league.user_leagues.each do |userLeague| %>
                  <img class="friends-avatar" src="<%= userLeague.user.steam_image %>" alt="User Image">
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
  <div class="create">
    <%= link_to 'Create your League', new_league_path, class: "btn btn-primary" %>
  </div> 
</div>

