<div class="container">

    <h2><%=@league.name %></h2>
    <p><%= @league.description %></p>
    <p><%= @league.start_on %></p>
    <p><%= @league.end_on %></p>
    <p><%= @league.game.name %></p>
    <p><%= @league.game.genre %></p>
    <p><%= @league.game.description %></p>

 <h1>Rankings</h1>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Challenges Completed</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% @player_rankings.each do |player| %>
          <tr>
            <td><%= player.steam_username %></td>
            <td><%= player.challenges %></td>
            <td><%= player.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
---------
 <div>
    <%= link_to 'Back', leagues_path, class: "btn btn-secondary" %>
    <%= link_to 'Delete your league', league_path(@league), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
 </div>
</div>
