<div class="league-container">

    <h1><%= @league.name.upcase %></h1>
    <%= render "invite_player" %>
    <%= render "player_list" %>

    <%#<p><%= @league.description %></p>

    <div>
      <p>The league start on <%= @league.start_on.strftime('%B %d, %Y %H:%M') %>.</p>
      <p>The league ends on <%= @league.end_on.strftime('%B %d, %Y %H:%M')  %>.</p>
    </div>


    <div class="league-over" data-controller="timer"
        data-timer-start-value=<%= (@league.end_on - 1.hours).iso8601%>>

        <div data-target="affichage" class="<%= 'd-none' if @league.ended? %>">
         <p>
          <span data-timer-target="days"></span>
          <span data-timer-target="hours"></span>
          <span data-timer-target="minutes"></span>
          <span data-timer-target="seconds"></span>
         </p>
        </div>

        <div data-timer-target="endmessage" class="<%= 'd-none' unless @league.ended? %> league-over">
          <p> The league is over ! Check who won 🏆 ! </p>
        </div>
    </div>

    <%#<p><%= @league.game.genre %></p>
    <%#<p><%= @league.game.description %></p>



  <%= render "ranking_player" %>


    <h3><%= @league.name %> Challenges</h3>

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% @challenges.each do |challenge| %>
        <tr>
            <td class><%= link_to challenge.challenge.name, league_challenge_path(@league, challenge.challenge) %></td>
            <td><%= challenge.challenge.points %></td>
        </tr>
        <% end %>
    </tbody>
    </table>


 <% @challenges.each do |challenge| %>
    <div class="card-challenges">
      <%#= image_tag challenge.photo %>

      <h3><%= challenge.challenge.name %></h3>
      <p><%= challenge.challenge.description %></p>
      <div class="progress">
        <div class="progress-bar <%= challenge.progress >= 75 ? "progress-high" : challenge.progress >= 50 ? "progress-medium" : "progress-low" %>" style="width: <%= challenge.progress %>%;"></div>
      </div>
      <div class="card-details">
        <div>
          <%= challenge.challenge.points %> points
        </div>
      </div>
    </div>
  <% end %>

<div class="btn-group d-flex justify-content-center">
  <%= link_to 'Access your challenges', league_challenges_path(@league), class: "btn btn-primary mr-2" %>
  <%= link_to 'Delete your league', league_path(@league), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to 'Back to leagues', leagues_path, class: "btn btn-secondary" %>
</div>



</div>
