<div class="container">

    <h2><%= @league.name %></h2>
    <p><%= @league.description %></p>
    <p><%= @league.start_on %></p>
    <p><%= @league.end_on %></p>
    <p><%= @league.game.name %></p>
    <p><%= @league.game.genre %></p>
    <p><%= @league.game.description %></p>
</div>