<div class="container">

    <h2><%= @league.name %></h2>
    <p><%= @league.description %></p>
    <p><%= @league.start_on.strftime('%B %d, %Y') %></p>
    <p><%= @league.end_on.strftime('%B %d, %Y')  %></p>
    <p><%= @league.game.name %></p>
    <p><%= @league.game.genre %></p>
    <p><%= @league.game.description %></p>


    <%= link_to 'Back', leagues_path, class: "btn btn-secondary" %>
    <%= link_to 'Delete your league', league_path(@league), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to 'Access your challenges', league_challenges_path(@league), class: "btn btn-primary" %>
    <%= link_to 'Start the league by generating Challenges !', league_path(@league), class: "btn btn-primary", data: { turbo_method: :start, turbo_confirm: "Are you sure?" } %>

    <%= @league.game.challenges %>

    <% console %>

</div>
