<div class="league-container">

    <h1><%= @league.name.upcase %></h1>
    <%= render "invite_player" %>
    <%= render "player_list" %>

    <%#<p><%= @league.description %></p>

    <div>
      <p>The league start on <%= @league.start_on.in_time_zone("Europe/Paris").strftime('%B %d, %Y %H:%M') %>.</p>
      <p>The league ends on <%= @league.end_on.in_time_zone("Europe/Paris").strftime('%B %d, %Y %H:%M')  %>.</p>
    </div>

    <div data-controller="timer"
        data-timer-start-value=<%= @league.end_on.iso8601 %>>

      <p>
        <span data-timer-target="days">Days</span>
        <span data-timer-target="hours">Hours</span>
        <span data-timer-target="minutes">Minutes</span>
        <span data-timer-target="seconds">Seconds</span>
      </p>
    </div>

    <%#<p><%= @league.game.genre %></p>
    <%#<p><%= @league.game.description %></p>



    <%= render "ranking_player", league: @league, player_rankings: @player_rankings %>


    <h3><%= @league.name %> Challenges</h3>

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% @challenges.each do |challenge| %>
        <tr>
            <td class><%= link_to challenge.challenge.name, league_challenge_path(@league, challenge.challenge) %></td>
            <td><%= challenge.challenge.points %></td>
        </tr>
        <% end %>
    </tbody>
    </table>


 <% @challenges.each do |challenge| %>
    <div class="card">
      <%#= image_tag challenge.photo %>
      <h3><%= challenge.challenge.name %></h3>
      <p><%= challenge.challenge.description %></p>
      <div class="progress">
        <div class="progress-bar <%= challenge.progress >= 75 ? "progress-high" : challenge.progress >= 50 ? "progress-medium" : "progress-low" %>" style="width: <%= challenge.progress %>%;"></div>
      </div>
      <div class="card-details">
        <div>
          <%= challenge.challenge.points %> points
        </div>
      </div>
    </div>
  <% end %>

    <div>
        <%#= button_to 'Start the league by generating Challenges !', start_league_path(@league), method: :post, class: "btn btn-primary" %>
        <%#= button_to 'Update players stats !', update_stats_league_path(@league), method: :get, class: "btn btn-primary" %>
        <%= link_to 'Back', leagues_path, class: "btn btn-secondary" %>
        <%= link_to 'Delete your league', league_path(@league), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <%= link_to 'Access your challenges', league_challenges_path(@league), class: "btn btn-primary" %>
        <%#= link_to 'user stat', user_leagues_path, class: "btn btn-secondary" %>
    </div>
</div>
