<div class="league-container" data-controller="league" data-league-league-id-value="<%= @league.id %>"  data-league-current-user-id-value="<%= current_user.id %>">

    <h1><%= @league.name.upcase %></h1>
    <%= render "invite_player" %>
    <%= render "player_list" %>

    <%#<p><%= @league.description %></p>

    <div>
      <p>The league start on <%= @league.start_on.in_time_zone("Europe/Paris").strftime('%B %d, %Y %H:%M') %>.</p>
      <p>The league ends on <%= @league.end_on.in_time_zone("Europe/Paris").strftime('%B %d, %Y %H:%M')  %>.</p>
    </div>

    <div data-controller="timer"
        data-timer-start-value=<%= @league.end_on.iso8601 %>>

      <p>
        <span data-timer-target="days">Days</span>
        <span data-timer-target="hours">Hours</span>
        <span data-timer-target="minutes">Minutes</span>
        <span data-timer-target="seconds">Seconds</span>
      </p>
    </div>

    <%#<p><%= @league.game.genre %></p>
    <%#<p><%= @league.game.description %></p>


  <%= render "ranking_player", league: @league, player_rankings: @player_rankings %>
  <%= render "league_challenges", challenges: @league_challenges, league: @league %>
  <%= render "user_challenges", user_challenges: @user_challenges %>

  </div>
    <div>
        <%= link_to 'Back', leagues_path, class: "btn btn-secondary" %>
        <%= link_to 'Delete your league', league_path(@league), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <%= link_to 'Access your challenges', league_challenges_path(@league), class: "btn btn-primary" %>
        <%#= link_to 'user stat', user_leagues_path, class: "btn btn-secondary" %>
    </div>
</div>
