<!-- app/views/offers/show.html.erb allow the title and the logo to appear on the tab of the browser-->
<% content_for :meta_title, "#{@league.name} - GGWP" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.key) %>

<div class="leagues-background"></div>
<div class="league-container"
     data-controller="league"
     data-league-league-id-value="<%= @league.id %>"
     data-league-current-user-id-value="<%= current_user.id %>" >



    <h1><%= @league.name.upcase %></h1>
    <%= render "invite_player" %>
    <%= render "player_list" %>


    <%= render "popup"%>
    <%= render "timer" %>

    <%#<p><%= @league.game.genre %></p>
    <%#<p><%= @league.game.description %></p>


  <%= render "ranking_player", league: @league, player_rankings: @player_rankings %>
  <%= render "league_challenges", challenges: @league_challenges, league: @league %>

  <div class="league-space-bottom">
    <%= render "user_challenges", user_challenges: @user_challenges %>
  </div>

</div>

