<div class="league-container">

    <h2><%= @league.name.capitalize %></h2>

    <div data-controller="share" data-share-url-value="<%= @url %>">
      <div class="mobile" data-share-target="mobile">
          <p >Invite your friends to join your league <span data-share-target="name"><%= @league.name %></span></p>
          <button data-share-target="share" data-action="click->share#send" class="btn btn-primary">Invite</button>
      </div>
      <div class="orid" data-share-target="ordi">
        <div data-controller="clipboard">
          <p >Give to your friends this link to join your league <span data-share-target="name"><%= @league.name %></span> </p>
          <input data-clipboard-target="source" class="font-extralight text-xs h-6 rounded-md" type="text" value="<%= @url %>" readonly>
          <button data-clipboard-target="trigger" data-action="clipboard#copy">Copy</button>
        </div>
      </div>
    </div>

    <%#<p><%= @league.description %></p>
    <p> Created: <%= @league.start_on.in_time_zone("Europe/Paris").strftime('%B %d, %Y %H:%M') %></p>
    <p> Ends: <%= @league.end_on.strftime('%B %d, %Y %H:%M')  %></p>
    <p>Game: <%= @league.game.name %></p>
    <%#<p><%= @league.game.genre %></p>
    <%#<p><%= @league.game.description %></p>

    <div class="players-list"
      data-controller="league-subscription"
      data-league-subscription-league-id-value="<%= @league.id %>">
        <h3>Player List</h3>
        <div class="players" data-league-subscription-target="players">
          <% @users.each do |user| %>
            <%= render "users/user", user: user %>
          <% end %>
        </div>
    </div>


 <h1>Rankings</h1>
    <table>
      <thead>
        <tr>
          <th><p> Rank </p></th>
          <th><p> Player </p></th>
          <th><p> Challenges Completed </p></th>
          <th><p> Score </p></th>
        </tr>
      </thead>
      <tbody>
        <% @player_rankings.each_with_index do |player, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= player.steam_username %></td>
            <td><%= player.challenges %></td>
            <td><%= player.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

 -----------------------------------

    <h1>Your <%= @league.name %> Challenges</h1>

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <% @challenges.each do |challenge| %>
        <tr>
            <td class><%= link_to challenge.name, league_challenge_path(@league, challenge) %></td>
            <td><%= challenge.points %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

 <% @challenges.each do |challenge| %>
    <div class="card">
      <%#= image_tag challenge.photo %>
      <h3><%= challenge.name %></h3>
      <p><%= challenge.description %></p>
      <div class="progress">
        <div class="progress-bar <%#= challenge.progress >= 75 ? "progress-high" : challenge.progress >= 50 ? "progress-medium" : "progress-low" %>" style="width: <%#= challenge.progress %>%;"></div>
      </div>
      <div class="card-details">
        <div>
          <%= challenge.points %> points
        </div>
      </div>
    </div>
  <% end %>


    -----------------------------------

    <div>
        <%= link_to 'Back', leagues_path, class: "btn btn-secondary" %>
        <%= link_to 'Delete your league', league_path(@league), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <%= link_to 'Access your challenges', league_challenges_path(@league), class: "btn btn-primary" %>
        <%= button_to 'Start the league by generating Challenges !', start_league_path(@league), method: :post, class: "btn btn-primary" %>
        <%= link_to 'user stat', user_leagues_path, class: "btn btn-secondary" %>

    </div>

</div>
