<div class="profile-container">
  <div class="profile-avatar">
   <div class="profile-image">
   <h1><%= @user.steam_username.upcase %></h1>
   </div>
    <img class="profile-picture" src="<%= @user.steam_image %>" alt="User Image">
  </div>
  <div class="profile-info">
      <p>Rank: <%= @user.rank %></p>
  </div> 
  <div class="user-card-container">
    <div class="user-card">
      <div class="card-body">
        <h5 class="user-card-title">Number of leagues</h5>
        <p class="user-card-text"><%= @user.user_leagues.count %></p>
      </div>
    </div>
    <div class="user-card">
      <div class="card-body">
        <h5 class="user-card-title">Game currently playing</h5>
        <p class="user-card-text"><%#= @league.game.name %> CS GO</p>
      </div>
    </div>
    <div class="user-card">
      <div class="user-card-body">
        <h5 class="user-card-title">Number of challenges completed</h5>
        <p class="user-card-text"><%= @user.completed_challenges_count %></p>
      </div>
    </div>
    <div class="user-card">
      <div class="user-card-body">
        <h5 class="user-card-title">Member since</h5>
        <p class="user-card-text"><%= @user.created_at.strftime("%B %Y") %></p>
      </div>
    </div>
  </div>
</div>

