<h1><%= @challenge.name %></h1>

<p><%= @challenge.description %></p>

<p>Points: <%= @challenge.points %></p>
<p>Key: <%= @challenge.key %></p>
<p>Game: <%= @challenge.game.name %></p>
<p>Start Date: <%= @challenge.start_date %></p>
<p>End Date: <%= @challenge.end_date %></p>

<%= link_to "Back to Challenges", league_challenges_path(@league) %>
